.flex_center{
    display:flex;
  align-items:center;
}
.header ul{
  list-style:none;
}
.header{
    justify-content: space-between;
    padding: 2rem;
    background: #6eb4e830;
    border-radius: 14px;
    box-shadow: 0 0 9px #b7a9cb;
}
.header_list{
    gap:3rem;   
    justify-content: space-around;
}
.header_list li{
  cursor:pointer;
}
 a{
text-decoration: none;  
color: #1f3d77;
font-weight: 600;
}
@media screen and (max-width:767px) {
  a{
    text-decoration: none;  
    color: #1f3d77;
    font-size: 14px;
    }
    .header_list{
      gap:10px;   
  }
  .logoheading{
    line-height: 18px;
  }
  .logoheading a{
    font-size: 20px;
  }
  .header{
    padding: 1rem;}
}

@media screen and (max-width:520px) {
  a{
    text-decoration: none;  
    color: #1f3d77;
    font-size: 10px;
    }
    .header{
      padding: 10px;}
      .logoheading a{
        font-size: 15px;
      }
      .header_list{
        gap:5px;   
    }
}