* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.container {
  background: #d8e6ed;
  height: 100vh;
  display: flex;
  place-content: center;
  align-items: center;
  gap: 8%;
}
.login_heading {
  text-align: right;
  width: 35%;
  font-weight: 700;
  font-size: 55px;
}
.logincontainer {
  background: white;
  display: flex;
  flex-direction: column;
  padding: 2%;
  border-radius: 20px;
  gap: 1rem;
  width: 25%;
}
input {
  padding: 5%;
  border-radius: 20px;
  border: none;
  background: #d8e6ed;
  color: black;
  outline: none;
  width: 90%;
}
.passworddiv {
  position: relative;
}
#passwordtoggle {
  cursor: pointer;
  position: absolute;
  top: 32%;
  color: #76bedf;
  right: 3rem;
}
.login_button {
  width: 50%;
  margin: 0 auto;
  font-size: 18px;
  padding: 3%;
  border-radius: 20px;
  border: none;
  background: #7c9dcd;
  color: white;
  font-weight: 700;
  outline: none;
}
.newuser_div {
  margin-top: 8%;
  text-align: center;
}
.newuser_div p,
.newuser_div a {
  margin: 0;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}
.newuser_div hr {
  width: 40%;
  height: 0;
}
.linktext {
  text-decoration: none;
  color: #7c9dcd;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1%;
}
.animation_box {
  position: absolute;
  bottom: 8vh;
  animation: car;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
.animation_box img {
  width: 18rem;
}
@keyframes car {
  100% {
    transform: translateX(320px);
  }
}
